:root {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.outer {
    background-color: lightblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    background-color: blue;
    width: 100px;
    height: 100px;
    padding: 1rem;
    margin: 1rem;
    border: 1rem solid red;
}

.hide {
    display: none;
}