body {
    margin-top: 56px;
}

pre {
    margin-top: 100px;
}

.comment-annotation {
    position: absolute;
    top: 2rem;
    background-color: grey;
}

.comment-div {
    display: none;
}

.language-js, .language-markup {
    max-height: 80vh;
    overflow-y: scroll;
}

.hide {
    display: none;
}

